<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>HI-E</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <style>
      .node.Management rect {
        fill: rgb(214, 92, 47);
      }

      .node.IT rect {
        fill: rgb(43, 43, 211);
      }
    </style>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.jsp">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laptop"></i>
          </div>
          <div class="sidebar-brand-text mx-3">HI-E</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="index.jsp">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>My Page</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">최고 관리자</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>사용자 관리</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">사용자 관리:</h6>
              <a class="collapse-item" href="authMng.html">권한관리</a>
              <a class="collapse-item" href="groupMng.html">그룹관리</a>
              <a class="collapse-item" href="">사용자관리</a>
              <a class="collapse-item" href="/ERP_Hi-E/HumanResource/humanResourceList.html#">인사카드</a>
            </div>
          </div>
        </li>
        <hr class="sidebar-divider" />
        <div class="sidebar-heading">일정 관리</div>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>일정</span>
          </a>
          <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">근무 일정:</h6>
              <a class="collapse-item" href="">근무일정관리</a>
              <a class="collapse-item" href="/ERP_Hi-E/Commute/commuteList.html">출퇴근/근태현황</a>
              <a class="collapse-item" href="">일정관리</a>
              <div class="collapse-divider"></div>
              <a class="collapse-item" href="">휴가</a>
              <a class="collapse-item" href="">휴가사용실적현황</a>
              <a class="collapse-item" href="">휴가신청</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <!-- 공지사항 -->
        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fas fa-fw fa-circle"></i>
            <span>공지사항</span></a
          >
        </li>

        <!-- 교육일지 -->
        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fas fa-fw fa-table"></i>
            <span>교육일지</span></a
          >
        </li>

        <!-- 설문조사 -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <i class="fas fa-fw fa-cog"></i>
            <span>설문조사 관리</span>
          </a>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">설문조사 관리:</h6>
              <a class="collapse-item" href="index.jsp?inc=/view/surveytable.jsp">진행중인 설문</a>
              <a class="collapse-item" href="">설문조사 결과</a>
              <a class="collapse-item" href="">설문조사 신청 내역</a>
              <a class="collapse-item" href="">설문조사 작성</a>
            </div>
          </div>
        </li>

        <!-- 경조사 -->
        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fas fa-fw fa-table"></i>
            <span>경조사</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <br /><br />
        <hr class="sidebar-divider" />

        <!-- 시스템 도움말 -->
        <li class="nav-item">
          <a class="nav-link" href="index.jsp?inc=/view/systemManual.jsp">
            <i class="fas fa-fw fa-wrench"></i>
            <span>시스템 도움말</span></a
          >
        </li>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
              <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="mr-2 d-none d-lg-inline text-gray-600 small">
                    <span style="display: block">| 전병호</span>
                    <span style="display: block">| Junior Development</span>
                  </div>

                  <img class="img-profile rounded-circle" src="img/undraw_profile.svg" />
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- End of Topbar -->
          <!-- 여기에 테이블 or 조직도 -->
          <div class="test" style="height: 100vh; width: 100%; background-color: rgba(85, 156, 204, 0.233); overflow: hidden">
            <div id="top-nav">
              <div id="tree"></div>
            </div>
            <script src="https://balkan.app/js/OrgChart.js"></script>
            <script>
              OrgChart.SEARCH_PLACEHOLDER = '검색';

              document.addEventListener('DOMContentLoaded', function () {
                let chart = new OrgChart(document.getElementById('tree'), {
                  mouseScroll: OrgChart.action.none,
                  enableSearch: true,
                  enableDragDrop: true,
                  zoom: { enabled: false },
                  nodeBinding: {
                    field_0: 'name',
                    field_1: 'title',
                  },

                  // 태그를 줌으로써 css 설정 가능 https://balkan.app/OrgChartJS/Docs/Tags
                  // nodes부분을 mysql db와 연동 해서 가져오기 id:상위부서코드 pid:부서코드
                  nodes: [
                    { id: '1', tags: ['Management'], name: 'A', title: 'CEO' },
                    { id: '2', pid: '1', tags: ['IT Manager'], name: 'B', title: 'IT Manager' },
                    { id: '3', pid: '1', tags: ['IT Manager'], name: 'C', title: 'IT Manager' },
                    { id: '4', pid: '2', tags: ['IT_1'], name: 'D', title: 'Junior Developer' },
                    { id: '5', pid: '2', tags: ['IT_1'], name: 'E', title: 'Senior Developer' },
                    { id: '6', pid: '3', tags: ['IT_2'], name: 'F', title: 'Junior Developer' },
                    { id: '7', pid: '3', tags: ['IT_2'], name: 'G', title: 'Senior Developer' },
                  ],
                });
              });
            </script>
          </div>

          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
  </body>
</html>