<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>게시판</title>

    <!-- 부트스트랩 CSS 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    
    <link th:href="@{/css/board_style.css}" rel="stylesheet">
    
    
</head>
<body>

<!-- header -->
<div class="card">
    <div class="card-header">
        <h1>게시판</h1>
    </div>

    <!-- card-body 추가 시작 -->
    <div class="card-body">
		<form th:action="@{/posts/search}" method="get">
	        <input type="search" th:name="query" placeholder="검색어를 입력하세요">
	        <button type="submit" class="search">글제목 검색</button>
   		</form>	

        <div th:each="post, iterStat : ${postsPages}" th:onclick="'window.location.href = \'' + @{/posts/show/{id}(id=${post.id})} + '\''"
             th:class="content-box">
            <div class="postid" th:text="${post.id}"></div>
            <div class="title" th:text="${post.title}"></div>
            <div class="author" th:text="${post.author}"></div>
        </div>
        
        
	    
    </div>
    <ul class="number">
		    <!-- 첫번째 페이지로 이동 -->
		    <li><a th:href="@{/test12(page=1)}"><</a></li>
		
		    <!-- 이전 링크 활성화 비활성화 -->
		    <li th:class="${postsPages.first} ? 'disabled'">
		        <a th:href="${postsPages.first} ? '#' : @{/test12(page=${postsPages.number})}">이전</a>
		    </li>
		
		    <!-- 페이지 번호 링크 -->
		    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
		        <!-- 현재 페이지 -->
		        <li th:if="${page == postsPages.number + 1}" th:text="${page}" class="active"></li>
		
		        <!-- 다른 페이지 -->
		        <li th:unless="${page == postsPages.number + 1 or page == 0}">
			        <a th:href="@{/test12(page=${page})}" th:text="${page}"></a>
			    </li>
		    </span>
		
		    <!-- 다음 링크 활성화 비활성화 -->
		    <li th:class="${postsPages.last} ? 'disabled'">
		        <a th:href="${postsPages.last} ? '#' : @{/test12(page=${postsPages.number + 2})}">다음</a>
		    </li>
		
		    <!-- 마지막 페이지로 이동 -->
		    <li><a th:href="@{/test12(page=${postsPages.totalPages})}">></a></li>
		    
			<div class="postbtn">
			    <a th:href="@{/posts/save}">글쓰기</a>
			</div>
		</ul>
</div>

<!-- 부트스트랩 JavaScript 및 부가적인 JavaScript 파일 추가 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/app/index.js"></script>

</body>
</html>