<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>게시판</title>

    <!-- 부트스트랩 CSS 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="/css/layout/nav.css" rel="stylesheet">
    <link href="/css/board_style.css" rel="stylesheet">
    <link href="/css/layout/font.css" rel="stylesheet">
    
</head>
<body>

<!-- header -->
<div th:replace="nav :: nav"></div>
<div class="card">
	<div class="card-header">
        <h1>게시판</h1>
    </div>

    <!-- card-body 추가 시작 -->
    <div class="card-body">
		<form th:action="@{/posts/search}" method="get">
	        <input type="search" th:name="query" placeholder="검색어를 입력하세요">
	        <button type="submit" class="search">글제목 검색</button>
   		</form>	

        <div th:each="post, iterStat : ${postsPages}" th:onclick="'window.location.href = \'' + @{/posts/show/{id}(id=${post.id})} + '\''"
             th:class="content-box">
            <div class="postid" th:text="${post.id}"></div>
            <div class="title" th:text="${post.title}"></div>
            <div class="author" th:text="${post.author}"></div>
        </div>
        
    </div>
    <ul class="number">
	    <!-- 첫번째 페이지로 이동 -->
	    <li>
	        <th:block th:if="${query}">
	            <a th:href="@{/posts/search(page=1, query=${query})}" >&lt;</a>
	        </th:block>
	        <th:block th:unless="${query}">
	            <a th:href="@{/test12(page=1)}">&lt;</a>
	        </th:block>
	    </li>
	
	    <!-- 이전 링크 활성화 비활성화 -->
	    <li th:class="${postsPages.first} ? 'disabled' : ''">
			<th:block th:if="${query}">
	        	<a th:href="${postsPages.first} ? '#' : @{/posts/search(page=${postsPages.number}, query=${query})}">이전</a>
        	</th:block>
		    <th:block th:unless="${query}">
				<a th:href="${postsPages.first} ? '#' : @{/test12(page=${postsPages.number})}">이전</a>
		    </th:block>
	    </li>
	
	    <!-- 페이지 번호 링크 -->
	    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
	        <!-- 현재 페이지 -->
	        <li th:if="${page == postsPages.number + 1}" th:text="${page}" class="active"></li>
	
	        <!-- 다른 페이지 -->
	        <li th:unless="${page == postsPages.number + 1 or page == 0}">
		        <!-- 검색어(query)가 있는 경우 -->
		        <th:block th:if="${query}">
		            <a th:href="@{/posts/search(page=${page}, query=${query})}" th:text="${page}"></a>
		        </th:block>
		        <!-- 검색어(query)가 없는 경우 -->
		        <th:block th:unless="${query}">
		            <a th:href="@{/test12(page=${page})}" th:text="${page}"></a>
		        </th:block>
		    </li>
	    </span>
	    <!-- 다음 링크 활성화 비활성화 -->
	    <li th:class="${postsPages.last} ? 'disabled' : ''">
			<th:block th:if="${query}">
	        	<a th:href="${postsPages.last} ? '#' : @{/posts/search(page=${postsPages.number + 2}, query=${query})}">다음</a>
        	</th:block>
		    <th:block th:unless="${query}">
				<a th:href="${postsPages.last} ? '#' : @{/test12(page=${postsPages.number + 2})}">다음</a>
		    </th:block>
	    </li>
	    <!-- 마지막 페이지로 이동 -->
	    <li>
	        <th:block th:if="${query}">
		        <a th:href="@{/posts/search(page=${postsPages.totalPages}, query=${query})}">&gt;</a>
		    </th:block>
		    <th:block th:unless="${query}">
		        <a th:href="@{/test12(page=${postsPages.totalPages})}">&gt;</a>
		    </th:block>
	    </li>
		<div class="postbtn">
		    <a th:href="@{/posts/save}">글쓰기</a>
		</div>
	</ul>
</div>
   
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="/js/app/index.js"></script>

</body>
</html>