.Nav {
  display: block;
  height: 100vh; /* 화면 세로 길이에 맞게 설정 */
  width: 256px;
  background-color: rgb(255, 255, 255);
  font-family: 'NanumBarunGothic', 'serif'; 
  font-weight: normal
}

ul {
  list-style: none;
  margin: 0;
  padding: 13px 0px;
  display: block;
}

a {
  color: rgb(0, 0, 0);
  display: inline-block;
  width: calc(100% - 40px);
  font-size: 16px;
}
.Nav_header {
  height: 106px;
  overflow: hidden;
}
.Nav_logo {
  width: 156px;
  height: auto;
  box-sizing: border-box;
  position: relative;
  left: calc(50% - 88px);
  top: calc(50% - 13px);
  cursor: pointer;
}
.Nav-li {
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/fonts/NanumBarunGothic.eot');
    src: url('/fonts/NanumBarunGothic.eot') format('embedded-opentype'),
         url('/fonts/NanumBarunGothic.woff') format('woff');
}

.Nav {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.Nav_logo {
    width: 200px;
    left: 0;
    height: 60px;
    margin-bottom: 20px;
}

.Nav-li {
    list-style: none;
    margin-bottom: 10px;
}

.Nav-li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 10px;
}

.Nav-li:hover {
    background-color: #e9ecef;
}

.Nav-submenu {
    display: none;
    padding-left: 20px;
}

.Nav-li:hover .Nav-submenu {
    display: block;
}

.Nav-ul a {
    font-size: 13px; /* 원하는 폰트 크기로 조절하세요 */
}

.sidebar-divider{
	border-top:1px solid #eaecf4;
	border-top:1px solid rgba(180,180,190);
	margin:0 1rem 1rem;
}