/* 공통 스타일 */
.Nav,
.Nav ul,
.Nav li,
.Nav a {
  box-sizing: border-box;
}

/* 네비게이션 바 전체 스타일 */
.Nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: #fff;
  font-family: 'NanumBarunGothic', 'serif';
}

/* 로고 스타일 */
.Nav_logo {
  width: 100%; /* 200px로 고정되어 있는데 꽉 차게 수정 */
  height: auto;
  cursor: pointer;
  margin-bottom: 20px;
}

/* 리스트 아이템 공통 스타일 */
.Nav-li {
  list-style: none;
  margin-bottom: 10px;
}

/* 링크 스타일 */
.Nav-li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  display: block;
  padding: 10px;
  width: calc(100% - 20px); /* 좀 더 조정 */
  box-sizing: border-box;
  transition: background-color 0.3s ease; /* 부드러운 효과 추가 */
}

/* 링크 호버 스타일 */
.Nav-li:hover {
  background-color: #e9ecef;
}

/* 서브메뉴 스타일 */
.Nav-submenu {
  display: none;
  padding-left: 20px;
}

.Nav-li:hover .Nav-submenu {
  display: block;
}

/* 서브메뉴 아이템 스타일 */
.Nav-ul a {
  font-size: 13px;
}

/* 구분선 스타일 */
.sidebar-divider {
  border-top: 1px solid #eaecf4;
  margin: 0 1rem 1rem;
}
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('/fonts/NanumBarunGothic.eot');
    src: url('/fonts/NanumBarunGothic.eot') format('embedded-opentype'),
         url('/fonts/NanumBarunGothic.woff') format('woff');
}

.Nav {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto
}

.Nav_logo {
    width: 200px;
    left: 0;
    height: 60px;
    margin-bottom: 20px;
}

.Nav-li {
    list-style: none;
    margin-bottom: 10px;
}

.Nav-li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 10px;
}

.Nav-li:hover {
    background-color: #e9ecef;
}

.Nav-submenu {
    display: none;
    padding-left: 20px;
}

.Nav-li:hover .Nav-submenu {
    display: block;
}

.Nav-ul a {
    font-size: 13px; /* 원하는 폰트 크기로 조절하세요 */
}

.sidebar-divider{
	border-top:1px solid #eaecf4;
	border-top:1px solid rgba(180,180,190);
	margin:0 1rem 1rem;
}