<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Account</title>
    <link href="/css/remove_account.css" rel="stylesheet">
</head>

<body>
   <article class="remove-home">
        <h1>Remove Account</h1>
        <div class="section remove-confirm">
            <h3>회원탈퇴</h3>
            <p>정말로 탈퇴하시겠습니까?</p>
            <p>탈퇴 시 이용내역이 삭제되며<br> 서비스 이용이 제한됩니다.<br> 또한 삭제된 계정은 복구되지 않습니다.</p>
            <a href="/view/survey"><button>탈퇴하기</button></a>
        </div>
   </article>
</body>

</html>