<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Success</title>
    <link href="/css/remove_account.css" rel="stylesheet">
</head>

<body>
	<article class="remove-home">
        <div class="section remove-complete">
            <h3>탈퇴 완료</h3>
            <img src="https://modo-phinf.pstatic.net/20220907_115/1662518784403F8FPY_PNG/mosaCwUyOj.png?type=w1100">
            <p>정상적으로 탈퇴 처리 되었습니다.</p>
            <p>그 동안 이용해주셔서 감사합니다.</p>
            <a href="/view/login"><button>홈으로</button></a>
        </div>
	</article>
</body>

</html>