<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>비밀번호 변경</title>
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- 비밀번호 변경 폼 -->
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">비밀번호 변경</h1>
                            </div>
                            <form class="user" id="changePasswordForm">
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" name="exPassword"
                                        placeholder="현재 비밀번호" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" name="newPassword"
                                        placeholder="새로운 비밀번호" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" name="newPasswordChk"
                                        placeholder="비밀번호 확인" required>
                                </div>
                                <button type="button" class="btn btn-primary btn-user btn-block"
                                    onclick="changePassword()">
                                    비밀번호 변경
                                </button>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/sb-admin-2.min.js"></script>

    <script>
        function changePassword() {
		    var formData = {
		        exPassword: document.getElementsByName("exPassword")[0].value,
		        newPassword: document.getElementsByName("newPassword")[0].value,
		        newPasswordChk: document.getElementsByName("newPasswordChk")[0].value
		    };
		
		    fetch("/api/change-password", {
		        method: "POST",
		        headers: {
		            "Content-Type": "application/json"
		        },
		        body: JSON.stringify(formData)
		    })
		    .then(response => {
		        if (response.ok) {
		            // 비밀번호 변경 성공 시 부모 창(mypage)를 새로고침
		            alert("비밀번호가 성공적으로 변경되었습니다.");
	                window.opener.location.reload();
	                window.close(); // change-password 페이지를 닫음
		        } else {
		            return response.text().then(errorMessage => {
		                alert(errorMessage);
		            });
		        }
		    })
		    .catch(error => {
		        console.error("비밀변경 에러 콘솔확인", error);
		    });
		}
    </script>
</body>

</html>