<html lang="kor">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>임시 비밀번호 발급하기</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    
    <!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	
	<!-- 입력 데이터 유효성 검사 -->
	<script th:src="@{/js/validate_check.js}" type="application/javascript"></script>
	
	<!-- Send Email Ajax 비동기 처리 -->
	<script>
	    $(document).ready(function () {
	        $("#sendEmailBtn").click(function () {
				// 클라이언트 측에서 유효성 검사를 먼저 진행
	            if (!validateSearchPassWordForm()) {
	                return;
	            }
	            
	            // 직접 JSON 객체를 만들어 데이터 수집
	            const data = {
	                email: $("#email").val(),
	                ename: $("#ename").val()
	            };
	
	            // 서버로 회원가입 데이터 전송, Ajax 요청
	            $.ajax({
	                type: "POST",
	                url: "/sendEmail",
	                contentType: "application/json",
	                data: JSON.stringify(data),
	                success: function (data) {
	                    // 서버 응답에 따라 동적으로 처리
	                    if (data === "success") {
	                        // 이메일 전송 성공
	                        alert("임시 비밀번호 발급이 완료되었습니다. 로그인 페이지로 이동합니다.")
	                        window.location.href = "/view/login";
	                    } else {
	                        // 이메일 전송 실패
	                        alert(data); // 실패 이유
	                    }
	                },
	                
	                error: function (xhr, status, error) {
	                	// 서버 오류 또는 예외 발생 시. MailController에서 status를 받음
		                if (xhr.status === 400) {
		                    // 400 Bad Request: 이메일과 이름이 일치하지 않거나 해당 이메일이 존재하지 않는 경우
		                    alert("이메일과 이름이 일치하지 않거나 해당 이메일이 존재하지 않습니다.");
		                } else if (xhr.status === 500) {
		                    // 500 Internal Server Error: 서버 오류가 발생한 경우
		                    alert("서버 오류가 발생했습니다.");
		                } else {
		                    // 그 외의 오류 처리
		                    alert("알 수 없는 오류가 발생했습니다.");
		                }
		            }
	            });
	        });
	    });
	</script>

</head>

<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">비밀번호 찾기</h1>
                                        <p class="mb-4">이메일과 이름을 입력해주세요</p>
                                    </div>
                                    <form class="user" id="sendEmailForm" method="post"	name = "sendEmailForm" >
									    <div class="form-group">
									        <input type="email" class="form-control form-control-user" 
									        	id = "email" name="email" placeholder="Email">
									        <br>
									        <input type="text" class="form-control form-control-user" 
									       		 id="ename" name="ename" placeholder="ename">
									    </div>
									    <button type="button" class="btn btn-primary btn-user btn-block" id="sendEmailBtn">
									        임시 비밀번호 발급
									    </button>
									</form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/view/service-agree">계정 생성하기</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/login">다시 로그인하기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>
</html>