<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Account</title>
    <link href="/css/remove_account.css" rel="stylesheet">
    <link href="/css/modal/modal.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div id="modal-container">
	  <div class="modal-background">
	    <div class="modal">
	      <h2>I'm a Modal</h2>
	      <p>Hear me roar.</p>
	     
	    </div>
	  </div>
	</div>
	<div class="content">
	  <h1>Modal Animations</h1>
	  <div class="buttons">
	    <div id="one" class="button">Unfolding</div>
	    <div id="two" class="button">Revealing</div>
	    <div id="three" class="button">Uncovering</div>
	    <div id="four" class="button">Blow Up</div><br>
	    <div id="five" class="button">Meep Meep</div>
	    <div id="six" class="button">Sketch</div>
	    <div id="seven" class="button">Bond</div>
	  </div>
	</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/modal/modal.js"></script>
</body>

</html>