<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hi-E 마이페이지</title>
	<link href="/css/layout/nav.css" rel="stylesheet">
    <!-- 부트스트랩 CSS 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<script>
        function openChangePasswordPopup() {
            window.open('/view/change-password', '_blank', 'width=800,height=600');
        }
        function openChangeProfilePopup() {
            window.open('/view/change-profile', '_blank', 'width=800,height=600');
        }
    </script>
</head>

<body>
	<div th:replace="nav :: nav"></div>
    <div class="container mt-5">
        <!-- 기본 정보 -->
        <div class="card mb-4">
            <div class="card-header">
                <h5>기본 정보</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>이름:</strong> [[${member.ename}]]</p>
                        <p><strong>부서:</strong> [부서 정보]</p>
                        <p><strong>권한:</strong> [[${member.roles}]]</p>
                    </div>
                    <div class="col-md-6">
                        <!-- 프로필 이미지 -->
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4 profile-image" th:src="${member.picture}" alt="프로필 이미지">
                    </div>
                </div>
            </div>
        </div>

        <!-- 업무 내용 -->
        <div class="card mb-4">
            <div class="card-header">
                <h5>업무 내용</h5>
            </div>
            <div class="card-body">
                <!-- 업무 내용 표시 -->
                <p>진행중인 업무가 없습니다.</p>
            </div>
        </div>
        
        <!-- 작성한 글 -->
        <div class="card mb-4">
            <div class="card-header">
                <h5>작성한 글</h5>
            </div>
            <div class="card-body">
                <!-- 글 목록을 동적으로 표시 -->
	            <div th:if="${not #lists.isEmpty(mypost)}">
	                <div th:each="post : ${mypost}">
	                    <a th:href="@{'/posts/show/' + ${post.id}}">
	                        <strong>자유게시판 | 제목 : [[${post.title}]] | 조회수 : [[${post.view}]]</strong>
	                    </a>
	                </div>
	            </div>
	            <p th:if="${#lists.isEmpty(mypost)}">작성한 글이 없습니다.</p>
            </div>
        </div>

        <!-- 로그아웃 버튼 -->
        <div class="text-center">
            <a href="/logout" class="btn btn-danger">로그아웃</a>
        </div>
        
        <!-- 무지성으로 버튼 만든 부분 -->
        나중에 삭제할 부분
        <div>
	        <button class="action-button" onclick="openChangePasswordPopup()">비번 변경</button>
	        <button class="action-button" onclick="openChangeProfilePopup()">프로필 이미지 변경</button>
	    </div>
    </div>
</body>

</html>