<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/layout/nav.css" rel="stylesheet">
</head>
<body>
    <nav class="Nav">
		<a href="/mypage">
	    	<img src="/img/Hi_E.png" alt="logo" class="Nav_logo"/>
	    </a>
        <ul>
            <li class="Nav-li">
                <a href="#">사용자 관리</a>
                <ul class="Nav-submenu">
                    <li class="Nav-ul"><a href="/admin/members">권한 관리</a></li>
                    <li class="Nav-ul"><a href="/admin/groups">그룹 관리</a></li>
                    <li class="Nav-ul"><a href="#">사용자 관리</a></li>
                    <li class="Nav-ul"><a href="#">인사관리</a></li>
                </ul>
            </li>
            <li class="Nav-li">
                <a href="#">공지사항</a>
            </li>
            <li class="Nav-li">
                <a href="#">경조사</a>
            </li>
            <li class="Nav-li">
                <a href="/test12">자유게시판</a>
            </li>
            <li class="Nav-li">
                <a href="#">일정</a>
                <ul class="Nav-submenu">
                    <li class="Nav-ul"><a href="#">근무일정관리</a></li>
                    <li class="Nav-ul"><a href="#">출퇴근/근태현황</a></li>
                    <li class="Nav-ul"><a href="#">일정관리</a></li>
                    <li class="Nav-ul"><a href="#">휴가</a></li>
                    <li class="Nav-ul"><a href="#">휴가사용실적현황</a></li>
                    <li class="Nav-ul"><a href="#">휴가신청</a></li>
                </ul>
            </li>
            <li class="Nav-li">
                <a href="#">시스템 관리</a>
                <ul class="Nav-submenu">
                    <li class="Nav-ul"><a href="#">관리자 관리</a></li>
                    <li class="Nav-ul"><a href="#">버전 관리</a></li>
                </ul>
            </li>
            <li class="Nav-li">
                <a href="/mypage">마이페이지(헤더 만들고 버림)</a>
            </li>
        </ul>
    </nav>
</body>
</html>